<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ca.footeware.e4.application.product.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="Fuggin&apos; amazing"
            name="Footeware">
         <property
               name="windowImages"
               value="icons/icon16.png,icons/icon32.png,icons/icon48.png,icons/icon64.png,icons/icon128.png,icons/icon256.png">
         </property>
         <property
               name="aboutText"
               value="http://Footeware.ca">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/ca.footeware.e4.application.ui/icons/about.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/ca.footeware.e4.application.ui/css/default.css">
         </property>
         <property
               name="applicationXMI"
               value="ca.footeware.e4.application.product/Application.e4xmi">
         </property>
         <property
               name="appName"
               value="Footeware">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>


</plugin>
