<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="ca.footeware.e4.application.product.product1"
            name="Footeware">
      </product>
   </extension>

</plugin>
